dill
python-dotenv
python-multipart
fastapi
uvloop
pydantic
numpy>=2.0.0
pymongo>=4.15
jsonpickle
gunicorn
uvicorn
rocketpy
uptrace
opentelemetry.instrumentation.fastapi
opentelemetry.instrumentation.requests
opentelemetry-api
opentelemetry-sdk
tenacity
fastmcp
