motor
python-dotenv
cdsapi
fastapi
pydantic
pymongo
requests
pytz
timezonefinder
simplekml
numericalunits
jsonpickle
gunicorn
uvicorn
urllib3<2
numpy>=1.13
scipy>=1.0
matplotlib>=3.0
netCDF4>=1.6.4
windrose>=1.6.8
ipywidgets>=7.6.3
h11
git+https://github.com/RocketPy-Team/RocketPy@beta/v1.0.0#rocketpy
